div {
display: none;
font-size: 50px;
border-style: dotted;
margin-right: 800px;
border-style: groove; 
text-align: center;
tab-size: 100px;
width: 300px;
top:230px;

}
#text {
Position:absolute;
Left: 10px;
Top:230 px;
Display:block;

#firstDiv{
     position: absolute;
     left:750px;
     
  
    }
    
#secondDiv{
position: absolute;

left:750px;
}

#thirdDiv{
    position: absolute;
    
    left:750px;
    }

    #fourthDiv{
        position: absolute;
        
        left:750px;
        }

#fifthDiv{
            position: absolute;
           
            left:750px;
            }

p {
    font-size: 30px;
}

button {
    width: 70px;
    height: 50px;
}

h1 {
    font-size: 50px;
    margin-left: 400px;
    font-style: oblique;
    border-style:solid;
    margin-right: 320px;
    text-align: center;
}

#result {
font-size: 60px;
position: absolute;
width: 1500px;
top: 500px ;
left : 200px;
text-align: center;
border-radius: 20px;
color: blue;
}

#tony { 
display: none;
font-size: 25px;
align-self: center;
width: 500px;
} 

